

<div class= 'banner'>
  <div class='container'>
    <h1 class="text-center">The Quarantine Cookbook</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

  <div class="container featured-recipes">
    <h2>
      Featured Recipes
    </h2>
    <div class= 'cards'>
      <% @recipes.sample(6).each do |recipe| %>
      <div class="card">
        <% if recipe.photo.attached? %>
          <%= cl_image_tag recipe.photo.key, height: 300, width: 250, crop: :fill %>
        <% end %>
        <p><%= link_to recipe.name, recipe_path(recipe) %></p>
        <p>Category: <%= recipe.category %></p>
          <% recipe.ingredients.each do |ingredient| %>
            <p><%= ingredient.quantity%><%= ingredient.name %></p>
          <% end %>
      </div>
      <% end %>
    <!--   <= form_tag recipes_path, method: :get, class: "form-inline" do %>
        <= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What ingredients do you have?"
        %>
        <= submit_tag "Search", class: "btn btn-primary" %>
      < end %> -->
      <div class="form">
  <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type an ingredient"
      %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

    </div>
    <p class="text-center"><%= link_to "Browse all recipes", recipes_path  %></p>
  </div>
</div>
